<main id="main_banner">
  <div class="" id="hero" style="overflow: hidden;
  padding-top: 80px;">
    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="img-fluid">

                  <div class="home"><img alt="earn-points-buy" src="https://i.postimg.cc/wBcqfjz8/mbr-2-1920x1280-1.jpg"
                                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                    <!--<img  class="img-fluid" alt="bonous-points" src="https://i.postimg.cc/QNWr51dN/trewq.jpg"
                                         style="border: 0;display: block; width: 1920px; height: 520px">-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/LXSCNys8/d.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/tCMH2VVV/dew.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/pTXV5MFf/rr.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</main>
<!--<section class="why-us section-bg" id="why-us">
  <div class="container" data-aos="fade-up">
    <div class="row gy-4">
      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
        <div class="why-box">
          <h3>Why Choose Last Holy Journey?</h3>
          <p> The Last Holy Journey is committed to helping our people. We tend to get involved in arranging for the funeral services.<br> We introduced an initiative to help during the hardest time of their life. Our end-to-end funeral services allow families to mourn in peace.</p>
          <div class="text-center"><a class="more-btn" href="/about">Learn More <i
            class="bx bx-chevron-right"></i></a></div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-center">
        <div class="row gy-4">
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-clipboard-data"></i>
              <h4>Premium Funeral Services</h4>
              <p>We are here to help you create an honour that is elite and personalized for you and your loved one</p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-gem"></i>
              <h4>Best Quality Funeral Services</h4>
              <p>Our team is a highly experienced group of professionals committed to providing support and compassion</p>
            </div>
          </div>
          <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-inboxes"></i>
              <h4>All-Inclusive Funeral Services</h4>
              <p>At-need and pre-plan funeral service provider for people of all religions and communities</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>-->
<app-services></app-services>
<app-packages></app-packages>
<main id="sj">
  <section class="gallery" id="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>
      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-1.jpg"><img
            alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-2.jpg"><img
            alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-3.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/chefs/wdhb.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-5.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-6.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-7.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-8.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="stats-counter" id="stats-counter">
    <div class="container" data-aos="zoom-out">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="232"
                  data-purecounter-start="0"></span>
            <p>Clients</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="521"
                  data-purecounter-start="0"></span>
            <p>Projects</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="1453"
                  data-purecounter-start="0"></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="32"
                  data-purecounter-start="0"></span>
            <p>Workers</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials section-bg" id="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Testimonials</h2>
        <p>What Are They <span>Saying About Us</span></p>
      </div>
      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim
                      donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh
                      et. Maecen aliquam, risus at semper. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="https://i.postimg.cc/DyzxBbq3/0-lqow-A8-Pp2-PW005jv.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure
                      esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster
                      fugiat irure amet legam anim culpa. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-2.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna
                      enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram
                      fore quis sint minim. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-3.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram
                      irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum
                      fugiat legam esse veniam culpa fore nisi cillum quid. <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Jassa Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-4.jpg"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>

  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>
      <div class="mb-3">
        <div style="width: 100%">
          <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no"
                  src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Ghazipur%20Shamshan%20Ghat+(ghazipur)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                  width="100%">
            <a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>GHAZIPUR GHAT, DELHI</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p><a href="mailto: thelastholyjourney@gmail.com">thelastholyjourney@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p><a href="tel:+918512000444"> +91 8512000444</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Sun:</strong> 11AM - 11PM;</div>
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="php-email-form p-3 p-md-4" method="post" role="form">
        <div class="row">
          <div class="col-xl-6 form-group"><input class="form-control" id="name" name="name" placeholder="Your Name"
                                                  required type="text"></div>
          <div class="col-xl-6 form-group"><input class="form-control" id="email" name="email" placeholder="Your Email"
                                                  required type="email"></div>
        </div>
        <div class="form-group"><input class="form-control" id="subject" name="subject" placeholder="Subject"
                                       required type="text"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" required
                                          rows="5"></textarea></div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>
</main>
