<main id="main">
  <div class="" id="hero" style="overflow: hidden;
  padding-top: 80px;">
    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="img-fluid">

                  <div class="home"><img alt="earn-points-buy" src="https://i.postimg.cc/Qt79RVhQ/vcg.jpg"
                                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                    <!--<img  class="img-fluid" alt="bonous-points" src="https://i.postimg.cc/QNWr51dN/trewq.jpg"
                                         style="border: 0;display: block; width: 1920px; height: 520px">-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/YCVPp2Jn/gt-1.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/6QhGrcCD/vq.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                </div>
              </div>
              <div class="">
                <div class="">

                  <div class="">
                    <img alt="earn-points-buy" src="https://i.postimg.cc/8cw9RRsw/rt.jpg"
                         style="border: 0;display: block;max-width: 100%; height: auto" width="1920" height="520">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</main>
<app-about></app-about>
<main id="sj">
  <section class="why-us section-bg" id="why-us">
    <div class="container" data-aos="fade-up">
      <div class="row gy-4">
        <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
          <div class="why-box">
            <h3>Why Choose Last Holy Journey?</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Duis aute irure dolor in reprehenderit Asperiores dolores sed et. Tenetur quia eos.
              Autem tempore quibusdam vel necessitatibus optio ad corporis.</p>
            <div class="text-center"><a class="more-btn" href="/about">Learn More <i
              class="bx bx-chevron-right"></i></a></div>
          </div>
        </div>
        <div class="col-lg-8 d-flex align-items-center">
          <div class="row gy-4">
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-clipboard-data"></i>
                <h4>Best Services</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
            </div>
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-gem"></i>
                <h4>Ullamco laboris ladore pan</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
            <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
              <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                <i class="bi bi-inboxes"></i>
                <h4>Labore consequatur incidid dolore</h4>
                <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="stats-counter" id="stats-counter">
    <div class="container" data-aos="zoom-out">
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="232"
                  data-purecounter-start="0"></span>
            <p>Clients</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="521"
                  data-purecounter-start="0"></span>
            <p>Projects</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="1453"
                  data-purecounter-start="0"></span>
            <p>Hours Of Support</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="stats-item text-center w-100 h-100">
            <span class="purecounter" data-purecounter-duration="1" data-purecounter-end="32"
                  data-purecounter-start="0"></span>
            <p>Workers</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testimonials section-bg" id="testimonials">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Testimonials</h2>
        <p>What Are They <span>Saying About Us</span></p>
      </div>
      <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Proin iaculis purus consequat sem cure digni ssim
                      donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh
                      et. Maecen aliquam, risus at semper. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Goodman</h3>
                    <h4>Ceo &amp; Founder</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-1.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure
                      esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster
                      fugiat irure amet legam anim culpa. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Wilsson</h3>
                    <h4>Designer</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-2.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna
                      enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram
                      fore quis sint minim. <i class="bi bi-quote quote-icon-right"></i></p>
                    <h3>Jassa Karlis</h3>
                    <h4>Store Owner</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-3.jpg"></div>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testimonial-item">
              <div class="row gy-4 justify-content-center">
                <div class="col-lg-6">
                  <div class="testimonial-content">
                    <p><i class="bi bi-quote quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram
                      irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum
                      fugiat legam esse veniam culpa fore nisi cillum quid. <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                    <h3>Jassa Larson</h3>
                    <h4>Entrepreneur</h4>
                    <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                      class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                  </div>
                </div>
                <div class="col-lg-2 text-center"><img alt=""
                                                       class="img-fluid testimonial-img"
                                                       src="assets/img/testimonials/testimonials-4.jpg"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <app-packages></app-packages>
  <section class="book-a-table" id="book-a-table">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Book A Slot</h2>
        <p>Book <span>A SLOT</span> With Us</p>
      </div>
      <div class="row g-0">
        <div class="col-lg-4 reservation-img" data-aos="zoom-out"
             data-aos-delay="200" style="background-image: url(assets/img/funeral.png);"></div>
        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
          <form action="#" class="php-email-form" data-aos="fade-up" data-aos-delay="100" method="post" role="form">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="name" name="name" placeholder="Your Name" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="email" name="email" placeholder="Your Email" required type="email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="phone" name="phone" placeholder="Your Phone" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="date" name="date" placeholder="Date" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="time" name="time" placeholder="Time" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="people" name="people" placeholder="# of people" required type="number">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm
                your reservation. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Book a Slot</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery section-bg" id="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>
      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-1.jpg"><img
            alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-2.jpg"><img
            alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-3.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/chefs/wdhb.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-5.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-6.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-7.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-8.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>
      <div class="mb-3">
        <div style="width: 100%">
          <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no"
                  src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Ghazipur%20Shamshan%20Ghat+(ghazipur)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                  width="100%">
            <a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>GHAZIPUR GHAT, DELHI</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p><a href="#">abc@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+91 98** **** **</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</div>
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="php-email-form p-3 p-md-4" method="post" role="form">
        <div class="row">
          <div class="col-xl-6 form-group"><input class="form-control" id="name" name="name" placeholder="Your Name"
                                                  required type="text"></div>
          <div class="col-xl-6 form-group"><input class="form-control" id="email" name="email" placeholder="Your Email"
                                                  required type="email"></div>
        </div>
        <div class="form-group"><input class="form-control" id="subject" name="subject" placeholder="Subject"
                                       required type="text"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" required
                                          rows="5"></textarea></div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>
</main>
