<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>ASTHI VISARJAN SERVICES</span></p>
      </div>
      <p>Asthi Visarjan is a Hindu rite in which you immerse yourself in your loved one’s ashes and bones. According to
        Hindu texts, sprinkling a loved one’s ashes in holy waters can free their spirit from enslavement and assist
        them in achieving emancipation.</p><br>
      <p>The Last Holy Journey staff will assist you in executing the Asthi Visarjan services at the Holy Water by
        assisting
        you in selecting the appropriate Pandit, Samagri, and Puja, as well as ensuring your comfort.</p><br>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="300">
        <h2>To book the Asthi Visarjan Service in Haridwar, please <a href="/asthiVisarjanHaridwar" style="color: red">click
          here</a>.
        </h2>
      </div>
      <br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/mZwT9gyJ/asthi.jpg" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>ASTHI VISARJAN SERVICES(Online/Offline)</em></h1>
            <p class="fst-italic"> We offer end-to-end Asthi Visarjan services in India. If you are looking for ashes
              immersion services, you can book online. We also help in bringing or sending ashes to India or abroad.

              Last Holy Journey is the first company in India that offers online & offline Asthi Visarjan. You can watch
              Ashes being immersed in Ganga from anywhere in the world.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the ashes of your loved one to your
                selected destination.
              </li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced service of Asthi Visarjan.</li>
              <li><i class="bi bi-check2-all"></i> The Last Holy Journey is the first company in India that offers
                online & offline Asthi Visarjan.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="300">
        <ol><h2>The Last Holy Journey Asthi Visarjan Services.</h2>&nbsp;
          <li><h5>Transportation to the place of Asthi Visarjan.</h5>
            <p>We recognize that the bereaved family is already dealing with a range of emotions and stress.
              We make
              certain that every part of the Asthi Visarjan Services is taken care of. Comfortable transportation
              for you and your family is part of our support. We can transport you from anywhere in the country to
              your preferred ash immersion place.</p>
          </li>&nbsp;
          <li><h5>Experienced Pandit.</h5>
            <p>Asthi Visarjan Services are extremely important because it is your loved one’s final farewell.
              For a soulful departure, the Pandit performs the requisite havans and pujas. We will assign you the
              most knowledgeable Pandit to execute each ceremony according to your caste. They also give some
              helpful insights that will assist you in healing and praying.</p></li>&nbsp;
          <li><h5>Puja Preparations and Samagri.</h5>
            <p>Since the Asthi Visarjan Services is a religious ceremony, specific holy and auspicious things must
              be used. The Last Holy Journey crew will make sure that all of the Samagri is set up well ahead of time
              so that the ceremony can be serene. All of our products and packaging are of high quality.</p></li>&nbsp;
          <li><h5>Ash Cremation Urn or Pot.</h5>
            <p>The Cremation Urn or Pot will hold the remains of your loved one before the immersion during the
              Asthi Visarjan Services. It’s a one-of-a-kind item that should encapsulate the lost one’s essence.
              We have a wide selection of attractive cremation urns and pots for you to choose from.</p></li>&nbsp;
          <li><h5>Dashgatra Vidhi.</h5>
            <p>This ceremony, which is commonly held on the day after the Asthi Visarjan, is a ritual to pay honor
              to the lost one’s ancestors. We make certain that the entire event goes off without a hitch.</p>
          </li>&nbsp;
        </ol>
        <br>
      </div>
    </div>
    <br>
  </section>
  <main id="main-gallery">
    <div class="gallery section-bg" id="gallery" style="padding: 20px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2> The Last Holy Journey Gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-1.jpg"><img
              alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-2.jpg"><img
              alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-3.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/wdhb.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-5.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-6.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-7.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-8.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
