<br>
<main id="main">
  <section class="chefs section-bg" id="chefs">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Services</h2>
        <p>Best <span>Funeral Services</span></p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <a href="/decoratedAmbulance">
            <div class="chef-member">
              <div class="member-img">
                <img alt="" class="img-fluid" src="assets/img/chefs/images.jpeg">
              </div>
              <div class="member-info">
                <h4>Decorated Ambulance</h4>
                <span>Ambulance Service</span>
                <p>Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
                  exercitationem iure minima enim corporis et voluptate.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Decorated Vishram Asthal</h4>
              <span>Decorated Vishram Asthal Service</span>
              <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                Voluptate sed quas reiciendis animi neque sapiente.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg">
            </div>
            <div class="member-info">
              <h4>Decorated Vishram Asthal</h4>
              <span>Decorated Vishram Asthal Service</span>
              <p>Quo esse repellendus quia id. Est eum et accusantium pariatur fugit nihil minima suscipit corporis.
                Voluptate sed quas reiciendis animi neque sapiente.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/hearse-banner.jpg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Dead Body Transportation</h4>
              <span>Dead Body Transportation Service</span>
              <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                architecto porro aspernatur molestiae modi.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Funeral Arrangements</h4>
              <span>Funeral Arrangements</span>
              <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                architecto porro aspernatur molestiae modi.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Funeral Arrangements</h4>
              <span>Funeral Arrangements</span>
              <p>Vero omnis enim consequatur. Voluptas consectetur unde qui molestiae deserunt. Voluptates enim aut
                architecto porro aspernatur molestiae modi.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
