<br>
<main id="main">
  <section class="chefs" id="chefs">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>The Last Holy Journey Services</h2>
        <p>Best <span>Funeral Services</span></p>
      </div>
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <a href="/decoratedAmbulance">
            <div class="chef-member">
              <div class="member-img">
                <img alt="" class="img-fluid" src="assets/img/chefs/images.jpeg">
              </div>
              <div class="member-info">
                <h4>Hearse Van Ambulance Service</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <a href="/arthiMatki">
            <div class="chef-member">
              <div class="member-img">
                <img alt="" class="img-fluid" src="https://i.postimg.cc/yd9yWh3J/Asthi-Visarjan-4-Im-Resizer.jpg">
              </div>
              <div class="member-info">
                <h4>Arthi and Matki Funeral Service</h4>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <a href="/arthiMatki">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg">
            </div>
            <div class="member-info">
              <h4>Decorated Vishram Asthal Service</h4>
            </div>
          </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg">
            </div>
            <div class="member-info">
              <h4>Decorated Vishram Asthal Services</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/images.jpeg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Dead Body Transportation</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Funeral Arrangements Services</h4>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="chef-member">
            <div class="member-img">
              <img alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg">
              <div class="social"><a href=""><i class="bi bi-twitter"></i></a> <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a> <a href=""><i class="bi bi-linkedin"></i></a></div>
            </div>
            <div class="member-info">
              <h4>Funeral Arrangements Services</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
