<br>
<section class="about container">
  <br>
  <div class="" data-aos="fade-up">
    <div class="container row gy-4">
      <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
        <div class="content ps-0 ps-lg-5">
          <h1 class="fst-italic text-center"> Book End-to-end Cremation Services</h1><br>
          <ul>
            <li><i class="bi bi-check2-all"></i> The demise of a loved one is one of the most painful experiences in
              human life. It is inevitable to happen at some stage of our lives. The only thing that can help us heal is
              the support of family and friends. .
            </li>
            <li><i class="bi bi-check2-all"></i> We provide end-to-end cremation services. A well professional team that
              is adept at performing all the tasks related to cremation.
            </li>
            <li><i class="bi bi-check2-all"></i> The mourners can get the best services just over a phone call. We
              assure the hassle-free and smooth offerings on time.
            </li>
          </ul>
          <h2><em>We have Two major service for the Creamation Ground. Click on the below links to have a look on
            them:</em></h2><br>
          <a href="/chitaAsthal"><h4 style="color: #ce1212"><b>1. <u> Chita Asthal Services</u></b></h4></a>
          <a href="/visharmAsthal"><h4 style="color: darkgreen"><b>2. <u> Vishram Asthal Services</u></b></h4></a><br>
          <ul><h2>Process of Conducting Cremation at Shamshan Ghat, Ghazipur Ground:</h2></ul>
          <li> Step 1) Call <a a href="tel:+919313788001">+919313788001</a> to book a slot at the Shamshan Ghat,
            Ghazipur
          </li>
          <li> Step 2) Book for transportation of the deceased, Sntim Sanskar Samagri, wooden logs, and pandit
            services
          </li>
          <li> Step 3) Upon reaching the ground, you will be guided by the Last Holy Journey team regarding the series
            of
            rituals
          </li>
          <li> Step 4) You will be provided with the Asthi’s for ash immersion in an urn</li>
        </div>
      </div>
    </div>
    <br>
  </div>
  <main id="main">
    <div class="book-a-table" id="book-a-table" style="padding: 50px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Book A Slot</h2>
          <p>Book <span>A SLOT</span> With Us</p>
        </div>
        <div class="row g-0">
          <div class="col-lg-4 reservation-img" data-aos="zoom-out"
               data-aos-delay="200" style="background-image: url(../../../../../assets/img/funeral.png);"></div>
          <div class="col-lg-8 d-flex align-items-center" style="background-color: #D3D3D3">
            <form (ngSubmit)="onSubmit()" [formGroup]="bookSlotForm" class="php-email-form p-3 p-md-4"
                  data-aos="fade-up" data-aos-delay="100" method="post" role="form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="name" id="name"
                                                                 placeholder="Your Name" type="text">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.name">
                    <ng-container
                      *ngIf="bookSlotForm.controls['name'].hasError(validation.type) && bookSlotForm.controls['name'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="email" id="email"
                                                                 placeholder="Your Email" type="text">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.email">
                    <ng-container
                      *ngIf="bookSlotForm.controls['email'].hasError(validation.type) && bookSlotForm.controls['email'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="phone" id="phone"
                                                                 placeholder="Mobile No." type="text">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.phone">
                    <ng-container
                      *ngIf="bookSlotForm.controls['phone'].hasError(validation.type) && bookSlotForm.controls['phone'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="date" id="date"
                                                                 placeholder="Date" type="date">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.date">
                    <ng-container
                      *ngIf="bookSlotForm.controls['date'].hasError(validation.type) && bookSlotForm.controls['date'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="time" id="time"
                                                                 placeholder="Time" type="time">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.time">
                    <ng-container
                      *ngIf="bookSlotForm.controls['time'].hasError(validation.type) && bookSlotForm.controls['time'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
                <div class="col-lg-4 col-md-6 form-group"><input class="form-control" formControlName="noOfPeople"
                                                                 id="noOfPeople"
                                                                 placeholder="No. of people" type="number">
                  <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.noOfPeople">
                    <ng-container
                      *ngIf="bookSlotForm.controls['noOfPeople'].hasError(validation.type) && bookSlotForm.controls['noOfPeople'].touched"
                      class="error-message">
                      {{validation.message}}
                    </ng-container>
                  </mat-error>
                </div>
              </div>
              <div class="form-group mt-3"><textarea class="form-control" formControlName="message"
                                                     placeholder="Message" rows="5"></textarea>
                <mat-error *ngFor="let validation of bookSlotValidationMessages.errorMessages.message">
                  <ng-container
                    *ngIf="bookSlotForm.controls['message'].hasError(validation.type) && bookSlotForm.controls['message'].touched"
                    class="error-message">
                    {{validation.message}}
                  </ng-container>
                </mat-error>
              </div>
              <div class="text-center mt-3">
                <button type="submit">Book a Slot</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
</section>
