<br>

<section class="about container">
  <br>
  <div class="" data-aos="fade-up">
    <div class="container row gy-4">
      <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
        <div class="content ps-0 ps-lg-5">
          <h1 class="fst-italic text-center"> Book End-to-end Cremation Services</h1><br>
          <ul>
            <li><i class="bi bi-check2-all"></i> The demise of a loved one is one of the most painful experiences in
              human life. It is inevitable to happen at some stage of our lives. The only thing that can help us heal is
              the support of family and friends. .
            </li>
            <li><i class="bi bi-check2-all"></i> We provide end-to-end cremation services. A well professional team that
              is adept at performing all the tasks related to cremation.
            </li>
            <li><i class="bi bi-check2-all"></i> The mourners can get the best services just over a phone call. We
              assure the hassle-free and smooth offerings on time.
            </li>
          </ul>
          <ul><h2>Process of Conducting Cremation at Shamshan Ghat, Ghazipur Ground:</h2></ul>
          <li> Step 1) Call <a a href="tel:+918512000444">+918512000444</a> to book a slot at the Shamshan Ghat,
            Ghazipur
          </li>
          <li> Step 2) Book for transportation of the deceased, Sntim Sanskar Samagri, wooden logs, and pandit
            services
          </li>
          <li> Step 3) Upon reaching the ground, you will be guided by the Last Holy Journey team regarding the series
            of
            rituals
          </li>
          <li> Step 4) You will be provided with the Asthi’s for ash immersion in an urn</li>
        </div>
      </div>
    </div>
    <br>
  </div>
  <main id="main">
    <div class="book-a-table" id="book-a-table" style="padding: 50px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Book A Slot</h2>
          <p>Book <span>A SLOT</span> With Us</p>
        </div>
        <div class="row g-0">
          <div class="col-lg-4 reservation-img" data-aos="zoom-out"
               data-aos-delay="200" style="background-image: url(../../../../../assets/img/funeral.png);"></div>
          <div class="col-lg-8 d-flex align-items-center" style="background-color: #D3D3D3">
            <form action="#" class="php-email-form" data-aos="fade-up" data-aos-delay="100" method="post" role="form">
              <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="name" name="name" placeholder="Your Name" required type="text">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="email" name="email" placeholder="Your Email" required type="email">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="phone" name="phone" placeholder="Your Phone" required type="text">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="date" name="date" placeholder="Date" required type="text">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="time" name="time" placeholder="Time" required type="text">
                  <div class="validate"></div>
                </div>
                <div class="col-lg-4 col-md-6">
                  <input class="form-control" id="people" name="people" placeholder="# of people" required
                         type="number">
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm
                  your reservation. Thank you!
                </div>
              </div>
              <div class="text-center">
                <button type="submit">Book a Slot</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
</section>
