<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>POOJA SAMAGREE SERVICES</span></p>
      </div>
      <p>Dealing with the death of a loved one can be painful. No matter how important, during such tough times,
        arranging for the funeral rites of the deceased can be a lot to handle. The Last Holy Journey understands this and
        therefore provides you with services, guidance, and antim sanskar samagri to ensure that all the rites take
        place mannerly.</p><br>
      <p>Once death has occurred, there are a lot of preparations to be done.Here is where our
        team comes in. We provide you timely delivery of the antim sanskar samagri list of items needed for the funeral
        rites. The list of products will be customized as per your religion and caste. Our support and services will
        always be with you.</p><br>
      <br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/6q4WXNmW/6ff31e368f71fb8a71a0a05e739ed9f1-4.jpg"
               style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Pooja Samagree</em></h1>
            <p class="fst-italic"> We offer all type of Samagree used in funeral Services in all the rituals. If you are
              looking for any type of pooja samagree, we'll be happy to help you and provide it to you.

              Last Holy Journey is the first company in India that offers online & offline all type of Pooja samagree
              used in funeral services.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> In odd hours, arranging for all the items
                and things required to conduct the funeral can be a problem and may also cause a lot of chaos.
              </li>
              <li><i class="bi bi-check2-all"></i> We provide you timely delivery of the antim sanskar samagri list of
                items needed for the funeral
                rites.
              </li>
              <li><i class="bi bi-check2-all"></i> The list of products will be customized as per your religion and
                caste. Our support and services will
                always be with you.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="d-flex" data-aos="fade-up" data-aos-delay="300">
        <ol><h2>Here is the Antim Sanskar Samgri list provided by The Last Holy Journey.</h2>&nbsp;
          <img class="img-fluid" src="https://i.postimg.cc/63yxHKHx/new-pooja-list.png" style="display: block;
  margin-left: auto;
  margin-right: auto;"><br>
          <h2>The Last Holy Journey Premium Services and Quality Packaging.</h2>&nbsp;
          <p>Funeral rites are traditional ceremonies and require the use of a lot of items/samagri. You may need these
            items for the various ceremonies of cremation, Chautha/Tehravin, Asthi Visarjan, and many more. The items
            being holy help the lost one in the path to liberation. The last holy journey acknowledges the importance of each
            ritual and guarantees to provide you high-quality items. There can be no skimp on funeral arrangements.

          </p>
          <li><p>Antim Sanskar Samagri provider in Delhi NCR.
          </p>
          </li>
          <li><p>High-quality Packaging.</p>
          </li>
          <li><p>Antim Sanskar Samagri list items and many more as per your requirements.</p>
          </li>
          <li><p>
            Timely home delivery of Kit.</p>
          </li>
          <li><p>Dashgatra Vidhi.</p>

          </li>
        </ol>
        <br>
      </div>
      <p>All our staff is professionally trained and understand your needs and feelings. Along with our products and
        antim sanskar samagri, we will provide you with any guidance you need regarding conducting the rituals. We will
        make sure to take your through the process step by step so that you can make your decisions.</p>
    </div>
    <br>
  </section>
  <main id="main-gallery">
    <div class="gallery section-bg" id="gallery" style="padding: 20px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <p>Check <span>Our Products</span></p>
        </div>
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-1.jpg"><img
              alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-2.jpg"><img
              alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-3.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/wdhb.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-5.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-6.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-7.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/gallery/gallery-8.jpg"><img
              alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
