<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>VISHRAM ASTHAL CREMATION GROUND SERVICES</span></p>
      </div>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/WtRZ5FKp/vishram.png" style="padding-bottom: 20px" alt="vishram">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Decorated Vishram Asthal Service</em></h1>
            <p class="fst-italic"> Our team responds swiftly. If you call us to have the body of a loved one
              transported, we will begin the process relatively immediately. </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the body of your loved one to your
                selected destination.
              </li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced freezers available.</li>
              <li><i class="bi bi-check2-all"></i> You also have the option of selecting a non-AC or AC dead body
                ambulance.
              </li>
            </ul>
            <p>Our experts utilize a variety of chemicals and freezing techniques to adequately preserve the deceased
              body so that it does not decompose during shipment. We have all of the essential permits and licences to
              provide Ambulance Car for Dead Body in India.</p>
          </div>
        </div>
      </div>
      <br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/Gm2dBVTQ/thumbnail-20210423-114228.jpg" alt="ambulance1"
               style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Non-Decorated Vishram Asthal Service</em></h1>
            <p class="fst-italic"> Coping with the loss of a loved one is one of the most terrible experiences a person
              can have, and organizing their funeral and last rites maybe even more difficult.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Even in these difficult times, certain things are essential.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or
                other mode of transportation for patients or the mortal remains.
              </li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or
                other mode of transportation for patients or the mortal remains.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="" data-aos="fade-up">
      <div class="container row gy-4">
        <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <ul><h2>Process of Conducting Cremation at Shamshan Ghat, Ghazipur Ground:</h2></ul>
            <li> Step 1) Call <a a href="tel:+919313788001">+919313788001</a> to book a slot at the Shamshan Ghat,
              Ghazipur
            </li>
            <li> Step 2) Book for transportation of the deceased, Sntim Sanskar Samagri, wooden logs, and pandit
              services
            </li>
            <li> Step 3) Upon reaching the ground, you will be guided by the Last Holy Journey team regarding the series
              of
              rituals
            </li>
            <li> Step 4) You will be provided with the Asthi’s for ash immersion in an urn</li>
          </div>
        </div>
      </div>
      <br>
    </div>
    <br>
    <div class="" data-aos="fade-up">
      <div class="container row gy-4">
        <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-5">
            <h2>To book the Cremation Ground, please <a href="/cremationGroundBooking" style="color: red">click here</a>.
            </h2>
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>
  <main id="main-gallery">
    <div class="gallery section-bg" id="gallery" style="padding: 20px">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2> The Last Holy Journey Gallery</h2>
          <p>Check <span>Our Gallery</span></p>
        </div>
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/sdb.png"><img
              alt="img1" class="img-fluid" src="assets/img/sdb.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/hsabx.png"><img
              alt="img2" class="img-fluid" src="assets/img/hsabx.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/images.jpeg"><img
              alt="img3" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/wdhb.jpg"><img
              alt="img4" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/wsxvs.jpeg"><img
              alt="img5" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"><img
              alt="img6" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/hy.png"><img
              alt="img7" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                         href="assets/img/chefs/lodhi-garden%20(4).jpg"><img
              alt="img8" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </main>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
