<div>
  <div class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header" style="background-color: orange">
        <p> Quick Enquiry Form <span>Send Us Your Query  <mat-icon (click)="onNoClick()" style="float: right; margin-right: -29px;
    margin-top: -22px;">cancel</mat-icon></span></p>
      </div>
      <app-enquiryForm></app-enquiryForm>
    </div>
  </div>
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
