<div mat-dialog-content>
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">

          <mat-icon class="d-flex" (click)="onNoClick()">cancel</mat-icon>
          <h2>Quick Enquiry Form</h2>
          <p>Need Help? <span>Send Us Your Query</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
</div>
<!--<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</div>-->
