<header class="header fixed-top d-flex align-items-center" id="header">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center me-auto me-lg-0" href="/home">
      <img class="img-fluid" src="https://i.postimg.cc/Rq5gsyKr/Screenshot-from-2022-09-20-23-50-57.png">
    </a>
    <nav class="navbar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown" href="/services">
          <a routerLink="/services"><span>Our Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/decoratedAmbulance">Hearse Ambulance Service</a></li>
            <li><a href="/arthiMatki">Arthi and Matki Service</a></li>
            <li class="dropdown">
              <a href="/asthiVisarjan"><span>Asthi Visarjan Services</span> <i
                class="bi bi-chevron-right dropdown-indicator"></i></a>
              <ul>
                <li><a href="/asthiVisarjan">Asthi Visarjan</a></li>
                <li><a href="/asthiVisarjanHaridwar">Asthi Visarjan in Haridwar</a></li>
              </ul>
            </li>
            <li><a href="/kafan">Kafan Funeral Service</a></li>
            <li><a href="/freezerBox">Freezer Box Service</a></li>
            <li class="dropdown" href="/cremationGroundBooking">
              <a routerLink="/cremationGroundBooking"><span>Cremation Ground Services</span> <i
                class="bi bi-chevron-right dropdown-indicator"></i></a>
              <ul>
                <li><a href="/chitaAsthal">Chita Asthal Service</a></li>
                <li><a href="/vishramAsthal">Vishram Asthal Service</a></li>
              </ul>
            </li>
            <li><a href="">Pandit Ji At Crematorium</a></li>
            <li><a href="">Pooja Samagree</a></li>
            <li class="dropdown">
              <a href=""><span>Funeral Services</span> <i class="bi bi-chevron-right dropdown-indicator"></i></a>
              <ul>
                <li><a href="">Pind-Daan(Online/Offline)</a></li>
                <li><a href="">Sevadaar for Kandha Dena</a></li>
              </ul>
            </li>
            <li><a href="">Flowers</a></li>
            <li><a href="">Dead Body Transportation</a></li>
          </ul>
        </li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="d-flex">
      <a class="btn-book-a-table" href="tel:+918512000444">Helpline</a>&nbsp;
      <span>
        <button (click)="openDialog()" class="img-fluid" mat-raised-button style="background-color: orange">Quick Enquiry</button>
      </span>
    </div>
    <i
      class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i
    class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
