<header class="header fixed-top d-flex align-items-center" id="header">
  <div class="container d-flex align-items-center justify-content-between">
    <a class="logo d-flex align-items-center me-auto me-lg-0" href="/home">
      <img class="img-fluid" src="https://i.postimg.cc/Rq5gsyKr/Screenshot-from-2022-09-20-23-50-57.png">
    </a>
    <nav class="navbar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown" href="/services">
          <a routerLink="/services"><span>Our Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/decoratedAmbulance">Hearse Ambulance Service</a></li>
            <li><a href="/arthiMatki">Arthi and Matki Service</a></li>
            <li><a href="/kafan">Kafan Funeral Service</a></li>
            <li><a href="/chitaAsthal">Cremation Ground Service</a></li>
            <li><a href="/cremationGroundBooking">Cremation Ground Slot Booking ( Wooden )</a></li>
            <li><a href="">PANDIT JI AT CREMATORIUM</a></li>
            <li><a href="">POOJA SAMAGREE</a></li>
            <li><a href="">END TO END ON GROUND COORDINATION</a></li>
            <li><a href="">FLOWERS</a></li>
            <!--<li class="dropdown">
              <a href=""><span>Funeral ceremony</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="">DABC</a></li>
                <li><a href="">YBN</a></li>
                <li><a href="">SDE</a></li>
                <li><a href="">RTY</a></li>
                <li><a href="">HSD</a></li>
              </ul>
            </li>-->
          </ul>
        </li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <div class="d-flex">
      <a class="btn-book-a-table" href="tel:+918512000444">Helpline</a>&nbsp;
      <span>
        <button (click)="openDialog()" class="img-fluid" mat-raised-button style="background-color: orange">Quick Enquiry</button>
      </span>
    </div>
    <i
      class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i
    class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
