<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">
    <a href="/home" class="logo d-flex align-items-center me-auto me-lg-0">
      <img src="assets/img/logo-2.png">
    </a>
    <nav  class="navbar">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li class="dropdown" href="/services">
          <a routerLink="/services"><span>Our Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
          <ul>
            <li><a href="/decoratedAmbulance">DECORATED AMBULANCE</a></li>
            <li><a href="/arthiMatki">ARTHI AND MATKI</a></li>
            <li><a href="/kafan">KAFAN</a></li>
            <li><a href="">CREMATION GROUND CHARGES</a></li>
            <li><a href="/bookSlot">CREMATION GROUND SLOT BOOKING ( WOODEN )</a></li>
            <li><a href="">PANDIT JI AT CREMATORIUM</a></li>
            <li><a href="">POOJA SAMAGREE</a></li>
            <li><a href="">END TO END ON GROUND COORDINATION</a></li>
            <li><a href="">FLOWERS</a></li>
            <!--<li class="dropdown">
              <a href=""><span>Funeral ceremony</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
              <ul>
                <li><a href="">DABC</a></li>
                <li><a href="">YBN</a></li>
                <li><a href="">SDE</a></li>
                <li><a href="">RTY</a></li>
                <li><a href="">HSD</a></li>
              </ul>
            </li>-->
          </ul>
        </li>
        <li><a href="/packages">Packages</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
    <a class="btn-book-a-table" href="tel:+918512000444">Helpline</a>&nbsp; <i
    class="mobile-nav-toggle mobile-nav-show bi bi-list"></i> <i
    class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
  </div>
</header>
