<br>
<br>
<main id="main">
  <section class="gallery section-bg" id="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>gallery</h2>
        <p>Check <span>Our Gallery</span></p>
      </div>
      <div class="gallery-slider swiper">
        <div class="swiper-wrapper align-items-center">
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-1.jpg"><img
            alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-2.jpg"><img
            alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-3.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/chefs/wdhb.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-5.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-6.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-7.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
          <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                       href="assets/img/gallery/gallery-8.jpg"><img
            alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
</main>

