<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>FUNERAL SERVICES</span></p>
      </div>
      <p>The grief of losing a loved one is one that no one should ever have to go through. It’s a pain that can’t be
        described or quantified. Even if the sorrow of loss is unavoidable, it nonetheless leaves one distraught. We
        will always feel sympathy for the families who are going through difficult times.</p>
      <p>The Last Holy Journey Funeral Services is made up of a group of dedicated specialists who handle all aspects of
        the
        funeral arrangements with the highest sensitivity, care, and compassion. We believe that planning a funeral
        should be the last thing on your mind, thus we handle everything for you. You may entrust us with
        everything!</p><br>
      <br>
      <img class="img-fluid" src="https://i.postimg.cc/k4F0GpVH/funeral.png" style="display: block;margin-left: auto;
  margin-right: auto;
  width: 1000%;"><br><br>
      <h2>Our two major types of additional funeral services are: </h2><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/7ZRGtBZj/pind.jpg" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Pind Daan(Online/Offline)</em></h1>
            <p class="fst-italic"> We offer end-to-end Asthi Visarjan services in India. If you are looking for ashes
              immersion services, you can book online. We also help in bringing or sending ashes to India or abroad.

              Last Holy Journey is the first company in India that offers online & offline Asthi Visarjan. You can watch
              Ashes being immersed in Ganga from anywhere in the world.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the ashes of your loved one to your
                selected destination.
              </li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced service of Asthi Visarjan.</li>
              <li><i class="bi bi-check2-all"></i> The Last Holy Journey is the first company in India that offers
                online & offline Asthi Visarjan.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/NMMnGjcK/kandha.jpg" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Seva Daar - Kandha dene ke liye- Ghar se Shamshaan ghat tak</em></h1>
            <p class="fst-italic"> We offer end-to-end Asthi Visarjan services in India. If you are looking for ashes
              immersion services, you can book online. We also help in bringing or sending ashes to India or abroad.

              Last Holy Journey is the first company in India that offers online & offline Asthi Visarjan. You can watch
              Ashes being immersed in Ganga from anywhere in the world.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the ashes of your loved one to your
                selected destination.
              </li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced service of Asthi Visarjan.</li>
              <li><i class="bi bi-check2-all"></i> The Last Holy Journey is the first company in India that offers
                online & offline Asthi Visarjan.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="container row gy-4">
        <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0">
            <ul><h2>How you can book this service from The Last Holy Journey organization?</h2>
              <p>
                For booking the service of Pind Daan or Seva daar's from the Last Holy Journey organization, you can
                follow the simple steps which are given below.
              </p>
            </ul>
            <li> First, Call <a a href="tel:+919313788001">+919313788001</a> to book the Pind Daan or Seva daar's
              service
            </li>
            <li> Book a date and other service offerings according to your wish.
            </li>
            <li> Discuss the things which confuse you and in which you are unable to make a choice.
            </li>
            <li> Give the necessary information regarding the service and its charges.
          </div>
        </div>
      </div>
      <br>
    </div>
  </section>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
