<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>KAFAN SERVICE</span></p>
      </div>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="https://i.postimg.cc/HW8QpHXV/tyu.png" class="img-fluid" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Kafan Service</em> </h1>
            <p class="fst-italic"> Our team responds swiftly. If you call us to have the body of a loved one transported, we will begin the process relatively immediately. </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the body of your loved one to your selected destination.</li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced freezers available.</li>
              <li><i class="bi bi-check2-all"></i> You also have the option of selecting a non-AC or AC dead body ambulance.</li>
            </ul>
            <p>Our experts utilize a variety of chemicals and freezing techniques to adequately preserve the deceased body so that it does not decompose during shipment. We have all of the essential permits and licences to provide Ambulance Car for Dead Body in India.</p>
          </div>
        </div>
      </div><br>
    </div>
    <br>
    <div class="container" data-aos="fade-up">

      <h1>How you can book this service from The Last Holy Journey organization?</h1><br>
      <h5><em>For booking the service of kafan from the last holy journey organization, you can follow the simple steps which are given below.</em></h5><br>
      <ol>
        <li>First, you can call on the helpline number mentioned on this page.</li>
        <li>Book a date and other service offerings according to your wish.</li>
        <li>Discuss the things which confuse you and in which you are unable to make a choice.</li>
        <li>Give the necessary information regarding the service and its charges.</li>
      </ol>
    </div>
    <section class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <div class="row gy-4">
          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-map flex-shrink-0"></i>
              <div>
                <h3>Our Address</h3>
                <p>GHAZIPUR GHAT, DELHI</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email Us</h3>
                <p><a href="mailto: thelastholyjourney@gmail.com">thelastholyjourney@gmail.com</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Call Us</h3>
                <p><a href="tel:+918512000444"> +91 8512000444</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info-item d-flex align-items-center">
              <i class="icon bi bi-share flex-shrink-0"></i>
              <div>
                <h3>Opening Hours</h3>
                <div><strong>Mon-Sun:</strong> 11AM - 11PM;</div>
              </div>
            </div>
          </div>
        </div>
        <form action="#" class="php-email-form p-3 p-md-4" method="post" role="form" style="background-image: url('https://i.postimg.cc/3x9zhyVQ/form-bg.jpg')">
          <div class="row">
            <div class="col-xl-6 form-group"><input class="form-control" id="name" name="name" placeholder="Your Name"
                                                    required type="text"></div>
            <div class="col-xl-6 form-group"><input class="form-control" id="email" name="email" placeholder="Your Email"
                                                    required type="email"></div>
          </div>
          <div class="form-group"><input class="form-control" id="subject" name="subject" placeholder="Subject"
                                         required type="text"></div>
          <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" required
                                            rows="5"></textarea></div>
          <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </section>
  </section>
</main>
<br>
