/* Structure */
table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell {
  padding-right: 24px;
  font-weight: bold;
}

tr.mat-header-row {
  background-color: orange;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
