<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>DEAD BODY TRANSPORTATION SERVICES</span></p>
      </div>
      <p>
        Losing a loved one is one of the most painful things that one has gone through in their lives and amidst all
        that arranging for their funeral and last rites are even difficult. Certain things are really important even at
        these times. Amongst those tasks, the most important one is arranging an ambulance or other transport service
        for patients or the mortal remains.
      </p>
      <p>We totally understand that it gets a little overwhelming when a loved one dies and are unsure what to do. The
        team at the Last Holy Journey is here to help you at every step…
      </p>
      <p>We are all aware of the fact that everyone ought to be transported to their last resting place. Also, there are
        certain laws for transporting the mortal remains whether they pass away in their own particular bed or abroad.
        You would need to have a few documents that are needed to be assembled as well as strategies for the transport
        to settle on and expenses to consider too.
      </p><br>

      <div class="d-flex" data-aos="fade-up" data-aos-delay="300">
        <ol>&nbsp;
          <img class="img-fluid" src="https://i.postimg.cc/7hP911wB/transportation.png" style="display: block;
  margin-left: auto;
  margin-right: auto;"><br>

          <p>Funerals Arrangements are not easy to manage nowadays as there are numerous parts of the whole procedure.
            There are chances that the grieving family frequently is not able to figure out where to start. This may
            result in committing some error by depending on your relatives or neighbors to arrange for transportation
            for burial service. Therefore, you can totally rely upon the Last Holy Journey who not only understands the
            protocols and terminology of the transportation but our team is well-aware and stay in control of the
            procedure.
          </p>
          <p>We can provide you with highly professional emergency and urgent evacuation services for critical patients
            as well as mortal remains to save their lives in a critical situation and to provide urgent and emergency
            medical aid/requirements. Even if you are looking for a mode of transportation which is air-conditioned or
            ICU Support, from your home to any hospital or from hospital to any referred place we are there to help you.
            We can also provide you ambulances under the assistance of well-qualified doctors and nurses for the
            patient’s comfort. Our services are highly professional and up to the mark to industry standards.</p>
          <p>Also, if in some situations some of your relatives are coming from abroad for that time we can also arrange
            a concerned hospital mortuary.</p>
        </ol>
        <br>
      </div>

      <div class="container" data-aos="fade-up">

        <h1>How you can book this service from The Last Holy Journey organization?</h1><br>
        <h5><em>For booking the service of ambulance from the last holy journey organization, you can follow the simple
          steps which are given below.</em></h5><br>
        <ol>
          <li>First, Call <a href="tel:+918512000444">+918512000444</a> to book Pandit Ji for all funeral Services
            from Shamshan Ghat,
            Ghazipur
          </li>
          <li>Book a date and other service offerings according to your wish.</li>
          <li>Discuss the things which confuse you and in which you are unable to make a choice.</li>
          <li>Give the necessary information regarding the service and its charges.</li>
        </ol>
      </div>
    </div>
  </section>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
