<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>ASTHI VISARJAN IN HARIDWAR SERVICES</span></p>
      </div>
      <p>Asthi Visarjan is a Hindu rite in which you immerse yourself in your loved one’s ashes and bones. According to
        Hindu texts, sprinkling a loved one’s ashes in holy waters can free their spirit from enslavement and assist
        them in achieving emancipation.</p><br>
      <p>Haridwar is considered the perfect place for performing the ritual of Asthi visarjan. The reason behind it is
        the rich culture of the Hindu civilization here. But reaching the place where you can offer this last service to
        the departed soul when you are dealing with immense grief, is not an easy task. Relying on the help of Last
        Journey team can make you able to arrange everything smoothly.</p><br>
      <main id="main-gallery">
        <div class="gallery" id="gallery" style="padding: 20px">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <p>Check <span>Our Work</span></p>
            </div>
            <div class="gallery-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-1.jpg"><img
                  alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-2.jpg"><img
                  alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-3.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/chefs/wdhb.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-5.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-6.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-7.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-8.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
          <div class="" data-aos="fade-up">
            <div class="container row gy-4">
              <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                  <ul><h2>What are the Services that Last Holy Journey offers at Asthi Visarjan Ghat?</h2>
                    <p>
                      We provide all these services in both online or offline mode. There
                      are many additional services that we offer to our service consumers. You can have a look at them.
                    </p></ul>
                  <li> Arranging all the sacred pooja samagri which is used in that ritual.
                  </li>
                  <li> Flowers according to the wish of service users.
                  </li>
                  <li> A priest or experienced pandit Ji for chanting the mantras during the ritual offering.
                  </li>
                  <li>We also provide urns after the cremation or whenever you need them for collecting the ashes of a
                    deceased person.
                  </li>
                </div>
              </div>
            </div>
            <br>
          </div>
          <br>
          <div class="" data-aos="fade-up">
            <div class="container row gy-4">
              <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                  <ul><h2>What are the things which one should keep in mind while performing Asthi Visarjan at Haridwar
                    Ghat?</h2>
                  </ul>
                  <li> Asthi of the deceased body should be collected in an urn or a cloth after the cremation and those
                    should be preserved for 10 days. On the 11th day, the close family members should perform this
                    ritual.
                  </li>
                  <li> Before the asthi visarjan, family members should perform pind daan and shraadh. After that, they
                    should perform asthi prwaah or asthi visarjan.
                  </li>
                  <li> Asthi visarjan ritual should be started with the holy Vedic mantras chanting in a loud and clear
                    voice.
                  </li>
                  <li> It is believed that if the asthi visarjan ritual is not performed in a suitable manner or at a
                    suitable place then the departed soul never becomes happy.
                </div>
              </div>
            </div>
            <br>
          </div>
          <br>
          <div class="" data-aos="fade-up">
            <div class="container row gy-4">
              <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
                <div class="content ps-0 ps-lg-5">
                  <ul><h2>How you can book this service from The Last Holy Journey organization?</h2>
                    <p>
                      For booking the service of asthi visarjan at Haridwar ghat from the Last Holy Journey
                      organization, you can follow the simple steps which are given below.
                    </p>
                  </ul>
                  <li> First, Call <a a href="tel:+919313788001">+919313788001</a> to book the Arthi Visarjan service
                  </li>
                  <li> Book a date and other service offerings according to your wish.
                  </li>
                  <li> Discuss the things which confuse you and in which you are unable to make a choice.
                  </li>
                  <li> Give the necessary information regarding the service and its charges.
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </main>
      <br>
    </div>
    <br>
  </section>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
