<br>
<br>
<section class="testimonials section-bg" id="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-header" style="text-align: center">
      <h2>The Last Holy Journey Services</h2>
      <p>ARTHI<span> AND MATKI</span></p>
    </div>
    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
              </div>
              <div class="text-center"><img alt=""
                                            class="img-fluid"
                                            src="https://i.postimg.cc/yY80CTd1/Asthi-Visarjan-in-Varanasi.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      <div class="member-info">
        <h4 style="text-align: center">Arthi and Matki Services</h4>
        <p style="text-align: center">Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
          exercitationem iure minima enim corporis et voluptate. Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
          exercitationem iure minima enim corporis et voluptate. Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
          exercitationem iure minima enim corporis et voluptate.Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
          exercitationem iure minima enim corporis et voluptate.</p>
      </div>
    </div>
  </div>
</section>
