<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>PANDIT JI AT CREMATION SERVICES</span></p>
      </div>
      <p>
        The pain of losing a loved one can turn your world upside down. Especially during those times, each thing may
        feel like a downer. This low phase also brings with it a lot of other responsibilities. Conducting a respectful
        funeral service is one of them. We understand your pain and want to assist you through this hard time.
      </p>
      <br>
      <p>As per the religion, caste, and community, our funeral rites vary. We may not always be aware of all of them.
        Many times even our elders don’t seem to remember the customs, and it can lead us to a lot of confusion. But no
        need to worry, as The Last Holy Journey has got your back. Our Pandit for Funeral Services will help you
        throughout
        the ceremonies, so you won’t have to stand alone.</p><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img class="img-fluid" src="https://i.postimg.cc/NFKNyvCy/sxhbs.jpg"
               style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Pandit Ji for Funeral Services</em></h1>
            <p class="fst-italic"> The Last Holy Journey will arrange for you a Priest/Pandit for last rites. Pandits
              are
              well-read and knowledgeable regarding customs and traditions. We will provide you with experienced pandits
              who will help you in clearing all your confusion. They will guide you on how each ritual has to take
              place, when, where it has to be performed. A Pandit for last rites will also tell you about each item
              (Samagri) that you may need to perform the last rites. </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Looking for a Pandit at odd hours can get really troublesome. We
                assure you of the timely arrangement of the Pandit for funeral services. When the loved one is about to
                pass away, you can reach out to us and our Pandits will visit you.
              </li>
              <li><i class="bi bi-check2-all"></i> They will recite mantras from sacred texts as it helps create a
                peaceful environment for the person at that stage. We understand the emotional pain of the moment, and
                all we want is for you to bid a proper farewell.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <div class="" data-aos="fade-up">
        <div class="container row gy-4">
          <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0">
              <ul><h2>What services do pandits provide?</h2></ul>
              <li>The pandits are well-read and knowledgeable. They perform all the rituals diligently and help to clear
                out any sort of confusion regarding any ritual.
              </li>
              <li> Pandits also carry out the cremation for you in a sensitive manner.
              </li>
              <li> From explaining mantras and rituals to carrying out havan at home, they are fully experienced to
                carry out these ceremonies.
              </li>
            </div>
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="" data-aos="fade-up">
        <div class="container row gy-4">
          <div class="col-lg-12 d-flex align-items-end" data-aos="fade-up" data-aos-delay="300">
            <div class="content ps-0">
              <ul><h2>Process of Booking of Pandit Ji for all funeral Services from Shamshan Ghat, Ghazipur:</h2></ul>
              <li> Step 1) Call <a href="tel:+918595906309">+918595906309</a> to book Pandit Ji for all funeral Services
                from Shamshan Ghat,
                Ghazipur
              </li>
              <li> Step 2) Book a date and other service offerings according to your wish.
              </li>
              <li> Step 3) Discuss the things which confuse you and in which you are unable to make a choice.
              </li>
              <li> Step 4) Give the necessary information regarding the service and its charges.
              </li>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </section>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
