<br>
<main id="main">
  <section class="book-a-table" id="book-a-table">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Book A Slot</h2>
        <p>Book <span>A SLOT</span> With Us</p>
      </div>
      <div class="row g-0">
        <div class="col-lg-4 reservation-img" data-aos="zoom-out"
             data-aos-delay="200" style="background-image: url(assets/img/funeral.png);"></div>
        <div class="col-lg-8 d-flex align-items-center reservation-form-bg">
          <form action="#" class="php-email-form" data-aos="fade-up" data-aos-delay="100" method="post" role="form">
            <div class="row gy-4">
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="name" name="name" placeholder="Your Name" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="email" name="email" placeholder="Your Email" required type="email">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="phone" name="phone" placeholder="Your Phone" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="date" name="date" placeholder="Date" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="time" name="time" placeholder="Time" required type="text">
                <div class="validate"></div>
              </div>
              <div class="col-lg-4 col-md-6">
                <input class="form-control" id="people" name="people" placeholder="# of people" required type="number">
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <textarea class="form-control" name="message" placeholder="Message" rows="5"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm
                your reservation. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Book a Slot</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>
      <div class="mb-3">
        <div style="width: 100%">
          <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no"
                  src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Ghazipur%20Shamshan%20Ghat+(ghazipur)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                  width="100%">
            <a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>GHAZIPUR GHAT, DELHI</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p><a href="#">abc@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p>+91 9876 7654 11</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Sat:</strong> 11AM - 23PM; <strong>Sunday:</strong> Closed</div>
            </div>
          </div>
        </div>
      </div>
      <form action="#" class="php-email-form p-3 p-md-4" method="post" role="form">
        <div class="row">
          <div class="col-xl-6 form-group"><input class="form-control" id="name" name="name" placeholder="Your Name"
                                                  required type="text"></div>
          <div class="col-xl-6 form-group"><input class="form-control" id="email" name="email" placeholder="Your Email"
                                                  required type="email"></div>
        </div>
        <div class="form-group"><input class="form-control" id="subject" name="subject" placeholder="Subject"
                                       required type="text"></div>
        <div class="form-group"><textarea class="form-control" name="message" placeholder="Message" required
                                          rows="5"></textarea></div>
        <div class="my-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your message has been sent. Thank you!</div>
        </div>
        <div class="text-center">
          <button type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </section>
</main>
