<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>FLOWER SERVICES</span></p>
      </div>
      <p>
        Losing a loved one is one of the most painful things that one has gone through in their lives and amidst all
        that arranging for their funeral and last rites are even difficult. Certain things are really important even at
        these times. Amongst those tasks, the most important one is arranging an ambulance or other transport service
        for patients or the mortal remains.
      </p>
      <p>We totally understand that it gets a little overwhelming when a loved one dies and are unsure what to do. The
        team at the Last Holy Journey is here to help you at every step…
      </p><br>
      <main id="main-gallery">
        <div class="gallery" id="gallery" style="padding: 20px">
          <div class="container" data-aos="fade-up">
            <div class="section-header">
              <h2> The Last Holy Journey Flower Gallery</h2>
              <p>Check <span>Our flowers for Funeral</span></p>
            </div>
            <div class="gallery-slider swiper">
              <div class="swiper-wrapper align-items-center">
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-1.jpg"><img
                  alt="" class="img-fluid" src="assets/img/sdb.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-2.jpg"><img
                  alt="" class="img-fluid" src="assets/img/hsabx.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-3.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/images.jpeg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/chefs/wdhb.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/wdhb.jpg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-5.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/wsxvs.jpeg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-6.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/ARRANGEMENTS-AT-THE-CREMATION-GR%20(3).jpg"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-7.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/hy.png"></a></div>
                <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery"
                                             href="assets/img/gallery/gallery-8.jpg"><img
                  alt="" class="img-fluid" src="assets/img/chefs/lodhi-garden%20(4).jpg"></a></div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </main>

      <div class="container" data-aos="fade-up">

        <h1>How you can book this service from The Last Holy Journey organization?</h1><br>
        <h5><em>For booking the service of ambulance from the last holy journey organization, you can follow the simple
          steps which are given below.</em></h5><br>
        <ol>
          <li>First, Call <a href="tel:+919313788001">+919313788001</a> to book Pandit Ji for all funeral Services
            from Shamshan Ghat,
            Ghazipur
          </li>
          <li>Book a date and other service offerings according to your wish.</li>
          <li>Discuss the things which confuse you and in which you are unable to make a choice.</li>
          <li>Give the necessary information regarding the service and its charges.</li>
        </ol>
      </div>
    </div>
  </section>
  <br>
  <main id="main-contact">
    <div class="contact" id="contact">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Contact</h2>
          <p>Need Help? <span>Contact Us</span></p>
        </div>
        <app-supportForm></app-supportForm>
      </div>
    </div>
  </main>
  <br>
</main>
