<html>
<head>
  <title>The Last Holy Journey - Contact Us</title>
  <meta name="description" content="The Last Holy Journey - The Last Holy Journey is the funeral website which helps you to offer all the funeral services at one place. We offer serval packages also, so that you don't have to worry. Our end-to-end funeral services allow families to mourn in peace. ">
</head>
<body>
<br>
<main id="main">
  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>
      <div class="mb-3">
        <div style="width: 100%">
          <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no"
                  src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Ghazipur%20Shamshan%20Ghat+(ghazipur)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                  width="100%">
            <a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe>
        </div>
      </div>
      <div class="row gy-4">
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-map flex-shrink-0"></i>
            <div>
              <h3>Our Address</h3>
              <p>Ghazipur Shamshan Ghat</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-envelope flex-shrink-0"></i>
            <div>
              <h3>Email Us</h3>
              <p><a href="mailto: thelastholyjourney@gmail.com">thelastholyjourney@gmail.com</a></p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-telephone flex-shrink-0"></i>
            <div>
              <h3>Call Us</h3>
              <p href="tel:+918595906309">+91 8595906309</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="info-item d-flex align-items-center">
            <i class="icon bi bi-share flex-shrink-0"></i>
            <div>
              <h3>Opening Hours</h3>
              <div><strong>Mon-Sun:</strong> 11AM - 11PM;</div>
            </div>
          </div>
        </div>
      </div>
      <app-supportForm></app-supportForm>
    </div>
  </section>
</main>
</body>
</html>
