<br>
<main id="main">
  <section class="contact" id="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Contact</h2>
        <p>Need Help? <span>Contact Us</span></p>
      </div>
      <div class="mb-3">
        <div style="width: 100%">
          <iframe frameborder="0" height="350" marginheight="0" marginwidth="0" scrolling="no"
                  src="https://maps.google.com/maps?width=100%25&amp;height=350&amp;hl=en&amp;q=Ghazipur%20Shamshan%20Ghat+(ghazipur)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                  width="100%">
            <a href="https://www.maps.ie/distance-area-calculator.html">area maps</a></iframe>
        </div>
      </div>
      <app-supportForm></app-supportForm>
    </div>
  </section>
</main>

