<!--<main id="main">
  <br>
  <div class="events" id="events">
    <div class="container-fluid" data-aos="fade-up">
      <div class="" data-aos="fade-up" data-aos-delay="100">
        <div class="">
          <div class="swiper-slide d-flex flex-column justify-content-center img-fluid">
            <img src="https://i.postimg.cc/1X4bV6dr/images-1.jpg" style="background-size: cover;
  background-position: center;" class="img-fluid" alt="ty">
            &lt;!&ndash;<h3 style="text-align: center">Decorated Ambulance</h3>
            <div class="price align-self-center">$99</div>
            <p style="text-align: center" class="description">This Package involves the provision of an ambulance/hearse for the body of the
              deceased.ndae inventore quaerat doloribus. Facere</p>&ndash;&gt;
          </div>
<br>
        </div>
      </div>
    </div>
  </div>
</main>-->
<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>AMBULANCE SERVICES</span></p>
      </div>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="assets/img/chefs/images.jpeg" class="img-fluid">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Decorated AC ambulance</em> </h1>
            <p class="fst-italic"> Our team responds swiftly. If you call us to have the body of a loved one transported, we will begin the process relatively immediately. </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the body of your loved one to your selected destination.</li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced freezers available.</li>
              <li><i class="bi bi-check2-all"></i> You also have the option of selecting a non-AC or AC dead body ambulance.</li>
            </ul>
            <p>Our experts utilize a variety of chemicals and freezing techniques to adequately preserve the deceased body so that it does not decompose during shipment. We have all of the essential permits and licences to provide Ambulance Car for Dead Body in India.</p>
          </div>
        </div>
      </div><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="https://i.postimg.cc/d13VJJdk/Ac-Ambulance.jpg" class="img-fluid">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Decorated Non-AC ambulance</em></h1>
            <p class="fst-italic"> Coping with the loss of a loved one is one of the most terrible experiences a person can have, and organizing their funeral and last rites maybe even more difficult.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Even in these difficult times, certain things are essential.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<br>

