<main id="main">
  <section class="about">
    <br>
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <p>OUR <span>HEARSE VAN AMBULANCE SERVICES</span></p>
      </div>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="assets/img/chefs/images.jpeg" class="img-fluid" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Decorated AC ambulance</em> </h1>
            <p class="fst-italic"> Our team responds swiftly. If you call us to have the body of a loved one transported, we will begin the process relatively immediately. </p>
            <ul>
              <li><i class="bi bi-check2-all"></i> We can help you quickly transport the body of your loved one to your selected destination.</li>
              <li><i class="bi bi-check2-all"></i> We employ the most advanced freezers available.</li>
              <li><i class="bi bi-check2-all"></i> You also have the option of selecting a non-AC or AC dead body ambulance.</li>
            </ul>
            <p>Our experts utilize a variety of chemicals and freezing techniques to adequately preserve the deceased body so that it does not decompose during shipment. We have all of the essential permits and licences to provide Ambulance Car for Dead Body in India.</p>
          </div>
        </div>
      </div><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="https://i.postimg.cc/Z5mTfdt8/ambulance1.jpg" class="img-fluid" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Decorated Non-AC ambulance</em></h1>
            <p class="fst-italic"> Coping with the loss of a loved one is one of the most terrible experiences a person can have, and organizing their funeral and last rites maybe even more difficult.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Even in these difficult times, certain things are essential.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.
              </li>
            </ul>
          </div>
        </div>
      </div><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="https://i.postimg.cc/d13VJJdk/Ac-Ambulance.jpg" class="img-fluid" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Normal AC ambulance</em></h1>
            <p class="fst-italic"> Coping with the loss of a loved one is one of the most terrible experiences a person can have, and organizing their funeral and last rites maybe even more difficult.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Even in these difficult times, certain things are essential.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.
              </li>
            </ul>
          </div>
        </div>
      </div><br>
      <div class="row gy-6">
        <div class="col-lg-4 position-relative"
             data-aos="fade-up" data-aos-delay="150">
          <img src="https://i.postimg.cc/jjZPqTQ1/1618163287-shutterstock-1869969358.jpg" class="img-fluid" style="padding-bottom: 20px">
        </div>
        <div class="col-lg-8 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="content ps-0 ps-lg-4">
            <h1><em>Normal Non-AC ambulance</em></h1>
            <p class="fst-italic"> Coping with the loss of a loved one is one of the most terrible experiences a person can have, and organizing their funeral and last rites maybe even more difficult.</p>
            <ul>
              <li><i class="bi bi-check2-all"></i> Even in these difficult times, certain things are essential.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.</li>
              <li><i class="bi bi-check2-all"></i> The most critical of these jobs is to arrange for an ambulance or other mode of transportation for patients or the mortal remains.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="container" data-aos="fade-up">

      <h1>How you can book this service from The Last Holy Journey organization?</h1><br>
      <h5><em>For booking the service of ambulance from the last holy journey organization, you can follow the simple steps which are given below.</em></h5><br>
<ol>
      <li>First, you can call on the helpline number mentioned on this page.</li>
      <li>Book a date and other service offerings according to your wish.</li>
      <li>Discuss the things which confuse you and in which you are unable to make a choice.</li>
      <li>Give the necessary information regarding the service and its charges.</li>
    </ol>
    </div>
    <br>
    <main id="main-contact">
      <div class="contact" id="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-header">
            <h2>Contact</h2>
            <p>Need Help? <span>Contact Us</span></p>
          </div>
          <app-supportForm></app-supportForm>
        </div>
      </div>
</main>
<br>
  </section>
</main>
