<!--<main id="main">
  <div class="align-items-stretch" data-aos="fade-up" data-aos-delay="100">
    <a href="/decoratedAmbulance">
      <div class="chef-member">
        <section class="hero d-flex align-items-center section-bg" id="hero">
          <div class="container">
            <div class="row justify-content-between gy-5">
              <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start"><img alt=""
                                                                                      class="img-fluid"
                                                                                      data-aos="zoom-out"
                                                                                      data-aos-delay="300"
                                                                                      src="assets/img/chefs/images.jpeg">
              </div>
            </div>
          </div>
        </section>
        <div class="member-info">
          <h4 style="text-align: center">Decorated Ambulance</h4>
          <p style="text-align: center">Ambulance Service</p>
          <p style="text-align: center">Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
            exercitationem iure minima enim corporis et voluptate. Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
            exercitationem iure minima enim corporis et voluptate. Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
            exercitationem iure minima enim corporis et voluptate.Velit aut quia fugit et et. Dolorum ea voluptate vel tempore tenetur ipsa quae aut. Ipsum
            exercitationem iure minima enim corporis et voluptate.</p>
        </div>
      </div>
    </a>
  </div>
</main>-->
<br>
<br>
<section class="testimonials section-bg" id="testimonials">
  <div class="container" data-aos="fade-up">
    <div class="section-header">
      <h2>Testimonials</h2>
      <p>What Are They <span>Saying About Us</span></p>
    </div>
    <div class="slides-1 swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
              </div>
              <div class="text-center"><img alt=""
                                            class="img-fluid"
                                            src="assets/img/chefs/images.jpeg"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p><i class="bi bi-quote quote-icon-left"></i> Export tempor illum tamen malis malis eram quae irure
                    esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster
                    fugiat irure amet legam anim culpa. <i class="bi bi-quote quote-icon-right"></i></p>
                  <h3>Jassa Wilsson</h3>
                  <h4>Designer</h4>
                  <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                </div>
              </div>
              <div class="col-lg-2 text-center"><img alt=""
                                                     class="img-fluid testimonial-img"
                                                     src="assets/img/testimonials/testimonials-2.jpg"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p><i class="bi bi-quote quote-icon-left"></i> Enim nisi quem export duis labore cillum quae magna
                    enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram
                    fore quis sint minim. <i class="bi bi-quote quote-icon-right"></i></p>
                  <h3>Jassa Karlis</h3>
                  <h4>Store Owner</h4>
                  <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                </div>
              </div>
              <div class="col-lg-2 text-center"><img alt=""
                                                     class="img-fluid testimonial-img"
                                                     src="assets/img/testimonials/testimonials-3.jpg"></div>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testimonial-item">
            <div class="row gy-4 justify-content-center">
              <div class="col-lg-6">
                <div class="testimonial-content">
                  <p><i class="bi bi-quote quote-icon-left"></i> Quis quorum aliqua sint quem legam fore sunt eram
                    irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum
                    fugiat legam esse veniam culpa fore nisi cillum quid. <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                  <h3>Jassa Larson</h3>
                  <h4>Entrepreneur</h4>
                  <div class="stars"><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i
                    class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i></div>
                </div>
              </div>
              <div class="col-lg-2 text-center"><img alt=""
                                                     class="img-fluid testimonial-img"
                                                     src="assets/img/testimonials/testimonials-4.jpg"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
